<div class="optionbar">
  <div class="footer">
    <div class="footerlead">CONTACT ME:</div>&nbsp;
    <ul>

      <li>Office phone: (614) 292-7325</li>

      <li><a href="mailto:cstewart@cse.ohio-state.edu">cstewart@cse.ohio-state.edu</a>&nbsp;</li>

      <li class="small"><a href="https://plus.google.com/u/0/+ChristopherStewartPhD/" target="_top">Google+</a>&nbsp;</li>

      <li class="small"><a href="http://scholar.google.com/citations?user=iYgWtREAAAAJ&hl=en" target="_top">Google Scholar</a>&nbsp;</li>

      <li class="small"><a href="https://www.facebook.com/christopher.charles.stewart" target="_top">Facebook</a>&nbsp;</li>

    </ul>
  </div>
</div>
