<div class="info">
  <%= image_tag 'cstewart.2018.jpg' %>
  <ul>
    <li><%= link_to "Department of Computer Science and Engineering", "http://cse.osu.edu" %></li>

    <li>The Ohio State University</li>

    <li>395 Dreese Lab </li>

    <li>Office: 793</li>

    <li>2015 Neil Ave</li>

    <li>Columbus, OH-43210, USA</li>
  </ul>
</div>
