

<!DOCTYPE html>
<html>
  
  <body>
     <div class="page" style="background-image:url('images/background-part2.jpg');"> 
    <div class="relative">
    <table border="2" cellpadding="2" cellspacing="2" height="5" width="1000">
    <tbody>
    <tr>
      <td valign="top"><br>
      <div class="words">
      <b>Revision Path Interview (2014)</b> 
      <p>RevisionPath highlights young, black leaders in
          technology. In September 2014, Dr. Stewart was highlighted.
	        Joining a list of acclaimed technologists, e.g.,
	        Frederick Townes (founder of Mashable) and Kevin
	        Johnson (CEO of Johnson Media).</p>
      <br>
      <b>NSF CAREER Award (2014) </b> 
      <p>As
            Internet services scale out their energy and carbon footprints
            increase.&nbsp; Unfortunately, to keep energy costs low, datacenters
            are often located in places with cheap but dirty energy
            sources---excacerbating carbon footprints.&nbsp; Our idea, G<i>reening as a Service</i>,
            uses renewable energy credits or carbon offsets to eliminate carbon
            footprints for only users that explicitly request clean-powered
            service.&nbsp; <a href="https://www.datagreening.com">Datagreening.com</a> is one of our first prototypes of a greening service (for email).</p>
          <br>
          <b>Best Paper, IEEE Interational Symposium on Modeling, Analysis, and
Simulation of Computer and Telecomunication Systems (MASCOTS 2010)</b><p>Entomodel: Understanding and Avoding Performance Bugs
uncovered emergent behaviors of common performance bugs.&nbsp; The
conference steering committee awarded it best paper from 127 submissions.</p>
      <br>
      <b>Third Best Paper, IEEE International Symposium on Sustainable Systems &amp; Technologies (ISSST 2011)</b><p>
Concentrating Renewable Energy in Grid-Tied Datacenters described an
approach assign electric joules to specific applications in a
datacenter, especially joules created by on-site solar panels or wind
turbines.&nbsp; This paper won third best.</p>
      <br>
      <b>Co-Chair, Workshop on Diversity in Systems Research, 2013</b><p>
The Workshop on Diversity in Systems Research is a mentoring activity
for students persuing a PhD in systems research, especially women and
minorities.&nbsp; Many of the world's most prominent researchers speak
at Diversity every year.&nbsp; I was honored to be the first externally
chosen chair for this workshop.</p>
      <br>
      <br>
      <b>Provost Fellowship, University of Rochester, 2003<br>
      <b>
President's Scholarship, Morehouse College, 1999</b>
      <big style="font-weight: bold;"></big></b><br>
          <a href="/accomplishments2.html" class="next round">&#8250;</a>
        </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
  </body>
  
</html>
