<!DOCTYPE html>
<html>

<head>
  <title>Christopher Charles Stewart</title>
  <meta charset="utf-8">
  <link href="stylesheets/home_layout.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
  <div class="page" style="background-image:url('images/background-part1.jpg');"> 
        
    <header>  
      <h1><a href="index.html">Christopher Charles Stewart</a></h1>
    </header>
        
    <div id="top">
      <a href="index.html">
        <figure><img src="images/Christopher_Charles_Stewart.jpg" alt=""></figure>
      </a>
      <h3>Professional Information</h3>
      <h4>Department of Computer Science and Engineering, The Ohio State University</h4>  
      <h4>395 Dreese Lab, 2015 Neil Ave, Columbus, OH-43210, USA</h4> 
      <p>Email: cstewart@cse.ohio-state.edu</p>
      <p>Office: 793</p>
      <p>Office phone: (614) 292-7325</p>
    

    <a class="btn" href="#" target="_blank">Explore More</a>

    </div>
    
    <div id="pageintro">
      <article>

        <h2>Associate Professor, <span><a href="https://cse.osu.edu/">Computer Science and Engineering</a></span></h2>

        <h2>Faculty-in-Residence, <span><a href="http://stc-sustainable-computing.ieee.net/">Translational Data Analytics Institute</a></span></h2>

        <h2>President, <span><a href="https://cse.osu.edu/">IEEE Sustainable Computing STC</a></span></h2>

        <p>Dr. Stewart leads the <span><a href="#">ReRout Lab </a></span>which produces computer systems research that reaches out.  He is a recipient of the prestigious <span><a href="https://www.nsf.gov/funding/pgm_summ.jsp?pims_id=503214">NSF Career Award</a></span></p>. 
   
        <p>He received a PhD from the <span><a href="http://www.cs.rochester.edu/">University of Rochester </a></span>under the supervision of <span><a href="http://www.cs.rochester.edu/u/kshen/">Kai Shen</a></span>. He also graduated from <span><a href="http://www.morehouse.edu/">Morehouse College</a></span></p>

        <footer><a class="btn" href="#" target="_blank">Explore More</a></footer>
      </article>
    </div>
  </div>
</body>

